
input {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 12px;    
    font-size: 14px;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.change_pass_sec{
    width: 100%;
    max-width: 650px;
}
.change_pass_sec .inp_box{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}
.inp_box label{
    margin-bottom: 8px;
}
.profile_btn_sec{
    margin-top: 20px;
    display: flex;
    /* justify-content: end; */
}