.bd_main{
    position: relative;
}

.bd_main_right{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: calc(100vw - 1250px);
    background-color: antiquewhite;
    z-index: -1;
}

.bd_main_right div div iframe{
    width: 100%;
    height: 100%;
    outline: none;
}

/* Left Part */
.slug{
    padding-top: 25px;
}

.page_title{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    font-family: 'Lilita One', sans-serif;
}

.input_section{
    margin-left: 150px; 
    width: 100%;
    max-width: 830px;   
}

.input_section .inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input_section .inputs input,
.input_section .inputs select,
.bd_form_btn
{
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    color: var(--dark-primary-color);
    border: 0.5px solid var(--dark-primary-color);
    height: 42px;
}

.double_inp{
    width: 100%;
    max-width: 410px;
}

.single_inp{
    width: 100%;
    max-width: 200px;
}

input.bd_form_btn{
    margin-top: 15px;
    width: 200px;
    background-color: #FFF5E0;
    border-radius: none !important;
}