
.page_title_sec{
    margin: 30px auto !important;
}

.page_title_sec .slug{
    font-size: 14px;
}

.page_title_sec .page_title{
    font-family: 'Lilita One', sans-serif;
    font-size: 24px ;
}

.page_inp_sec .right_inp_sec{
    /* min-width: 715px !important; */
    width: 900px;
}


.ist_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 12px; */
}
#add_package,
#add_exc_inp,
#add_delivery_act,
#add_vahicle_box{
    height: 25px;
    padding: 0;
    background: transparent;
}

#add_package i,
#add_exc_inp i,
#add_delivery_act i,
#add_vahicle_box i{
    font-size: 18px;
    margin-right: 6px;
}

.inp_sec_title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.full_inp_sec{
    display: flex;
    gap: 15px;
}

.half_inp {
    width: calc(50% - 7.5px);
}

/* .half_inp > *{
    margin-bottom: 12px;
} */

input,
.select,
textarea {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 12px;    
    margin-bottom: 12px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

textarea{
    height: auto !important;
    resize: none;
    padding: 12px !important;
}
.page_btn
{    
    color: #fdfdfd !important;
    background-color: var(--primary-color) !important;
}
.page_btn,
.side_delete_btn {
    width: fit-content;
    padding: 0 35px;
    border: 2px solid var(--primary-color);
    border-radius: 20px !important;
    background: transparent;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.side_delete_btn{
    padding: 0 10px !important;
    border-radius: 50% !important;
}

.page_main_btn{
    margin-top: 30px;
    background-color: var(--primary-color);
    border-radius: 20px !important;
    font-weight: 600;
    color: #fdfdfd;
}
.page_main_btn.lead_pri_btn{
    margin-top: 10px;
    background-color: var(--dark-primary-color);
}


/* Left */
.left_inp_sec{
    width: auto;
    height: auto;
}

.left_inp_sec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (width <= 500px) {
    .left_inp_sec {
        display: none;
    }

    .full_inp_sec {
        flex-direction: column;
    }

    .page_inp_sec .right_inp_sec{
        min-width: 100% !important;
    }

    .half_inp {
        width: 100%;
    }

    .gap_0 {
        gap: 0;
    } 

    .page_btn {
        width: 100%;
        /* padding: 0 35px; */
    }

}

@media (width > 500px) and (width <= 800px){
    .left_inp_sec {
        display: none;
    }

    .page_inp_sec{
        display: block;
    }
}

@media (width > 800px) and (width <= 1200px){
    .page_inp_sec{
        gap: 25px;
    }
    .page_inp_sec .right_inp_sec{
        min-width: 615px !important;      
    }

}


.subtitle_sec
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.p_s_sec_select{
    display: flex;
    gap: 15px;
}

#pac_ser_type_extra.show,
#exception.show{
    display: flex !important;
}
.booking_item.show,
.ongoing_item.show{
    display: block;
}

#pac_ser_type_extra,
#pac_ser_type_extra.hide,
.booking_item,
.booking_item.hide,
#exception,
#exception.hide,
.ongoing_item,
.ongoing_item.hide{
    display: none;
}

#exception_inputs div{
    display: flex;
    gap: 10px;
}

#exception_inputs{
    margin-top: 8px;
}

/* outgroup_sec */
.outgroup_sec{
    display: flex;
    gap: 15px;
}

.outgroup_sec div{
    display: block;
    width: 100%;
}
.outgroup_sec div select{
    width: 100%;
    outline: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.outgroup_sec div select option{
    padding: 1px 6px;
}

/* check_inp_field */
.check_inp_field{
    width: 150px;
    border: 1px solid var(--dark-primary-color);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.qs_item{
    width: fit-content !important;
    border: none;
}

.check_inp_field input{
    appearance: none;
    /* height: 20px; */
    width: 43px;
    border-radius: 0px;
    margin: 0px;
}
.qs_item input {
    height: 20px !important;
    width: 20px !important;
    border-radius: 20px;
}
.check_inp_field input:checked{
    content: '7';
    background-color: #2873ff;
}

.qs_item label{
    padding: 0 !important;
}
.check_inp_field label{
    padding: 5px 25px 5px 5px;
    font-size: 16px;
}

.check_inp_sec{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* Contact Section */
.contact_sec{
    display: flex;
    gap: 30px;
}

.contact_sec .left_inp_sec img {
    width: 600px;
}

.right_inp_sec p{
    margin-bottom: 15px;
}

.contact_sec .right_inp_sec{
    width: 100%;
}

.inp_check{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.inp_check input{
    appearance: default;
    width: 15px ;
    height: 15px;
    margin: 0;

}

/* Lead */
.addcart_sall{
    margin-top: 20px;
    justify-content: space-between;
}
.leads_section{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.lead_item{
    position: relative;
    padding: 40px;
    background-color: #ddd;
}

.lead_item h2{
    color: var(--primary-color);
}

.lead_item input{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
}

/* Lead Content */
.lead_content section{
    margin-bottom: 15px;
}

.lead_content section h3{
    margin-bottom: 5px;
    text-decoration: underline;
}

.p_sec p,
.p_sec p b{
    margin-bottom: 0;
    color: #3e444f;
}

.multi_pd{
    margin-bottom: 15px;
}

/* Quote Storage */
#qs_feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* vahicle_box */
#qs_vahicle,
#qs_unit{
    display: none;
}

#qs_vahicle.show,
#qs_unit.show{
    display: block;
}

/* qm_articles */
#qm_articles,
#qs_ship_services{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

#qm_articles .qs_item,
#qs_ship_services .qs_item{
    width: 100% !important;
    max-width: 280px;
}

#qs_ship_services .qs_item:last-child{
    max-width: fit-content;
}

.right_inp_sec > div {
    margin-bottom: 5px;
}